<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Placer County Garage Tap List</title>
  </head>
  <body>
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:white;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          overflow:hidden;padding:5px 5px;word-break:normal;}
        .tg th{border-color:white;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          font-weight:normal;overflow:hidden;padding:5px 5px;word-break:normal;}
        .tg .tg-0lax{text-align:center;vertical-align:top;width:230px;}
        .tg .tg-1lax{text-align:center; font-family:Arial, Helvetica, sans-serif;font-size: 18px;color:turquoise;}
        </style>
        <table class="tg">
        <thead>
          <tr>
            <th class="tg-0lax" colspan="4"><img src="images/PCGMenu.png" alt="Garage Theme" width="950" height="450"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-1lax">Tap 1</td>
            <td class="tg-1lax">Tap 2</td>
            <td class="tg-1lax">Tap 3</td>
            <td class="tg-1lax">Mini Fridge</td>
          </tr>
          <tr>
            <td class="tg-0lax"><b>{{ tap1 }}</b><br/>perle & saaz</td>
            <td class="tg-0lax"><b>{{ tap 2 }}</b><br/>mosaic, nelson & strata</td>
            <td class="tg-0lax"><b>C{{ tap 3 }}</b><br/>centennial, citra & nelson</td>
            <td class="tg-0lax"><b>{{ mini_fridge }}</b><br/>galaxy & strata</td>
          </tr>
        </tbody>
        </table>
  </body>
</html>